{% extends "layout.html" %}
{% block content %}



<div class="container">
    <h2>英文を翻訳</h2>

    <p>英文をテキストエリアに入力してボタンを押してください．</p>

    <p>一文ごとに整形し，対になる日本語訳と組み合わせて出力します．</p>

    <!--POSTリクエストでページ遷移するフォーム-->
    <form action="/output/" method="POST" enctype="multipart/form-data">
        <div>
            <textarea id="eng_text" class ="input" name="eng_text" placeholder="翻訳したい文章を入力してください"></textarea>
        </div>
        <div>
            <input type="submit" class="button btn btn-primary" value="翻訳">
        </div>
    </form>

    <br><br><p>※文中に改行がある場合でもそのままご利用いただけます．</p>
</div>
{% endblock %}
