{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="ja" {% endblock%}

{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httpquiv="Content-Type" content="text/html; charset=utf-8">
{% endblock%}

{% block title %}対訳作成補助ソフト{% endblock%}

{% block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock%}

{% block body %}
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">対訳作成補助ソフト</a>
            </div>
        </div>
    </nav>

    <!-- フォーム -->
    <div class="container">
        <h2>英文を翻訳</h2>

        <p>英文をテキストエリアに入力してボタンを押してください。</p>

        <p>一文ごとに整形し、対になる日本語訳と組み合わせて出力します。</p>

        <p>※文章の改行を維持したい場合は、「自動整形」のチェックをオフにしてください</p>

        <!--POSTリクエストでページ遷移するフォーム-->
        <form action="/output/" method="POST" enctype="multipart/form-data">

            <div>
                <textarea id="eng_text" class ="input" name="eng_text" placeholder="翻訳したい文章を入力してください"></textarea>
            </div>

            <div>
                <label for="auto_split">自動整形</label>
                <input type="checkbox" id="auto_split" name="auto_split" {% if default_use_auto_format %}checked{% endif %}>
            </div>

            <details>
                <summary class="button btn btn-link">▼詳細設定</summary>
                <!-- ↓↓最初隠したいコンテンツ↓↓ -->

                <div>
                    <label>出力形式:</label>
                    <label>
                        <input type="radio" name="format_type" value="scrapbox" {% if default_format_type == 'scrapbox'%}checked{% endif %}>
                        Scrapbox
                    </label>
                    <label>
                        <input type="radio" name="format_type" value="markdown" {% if default_format_type == 'markdown' %}checked{% endif %}>
                        Markdown
                    </label>
                    <label>
                        <input type="radio" name="format_type" value="plain_text" {% if default_format_type == 'plain_text' %}checked{% endif %}>
                        Plain text
                    </label>
                </div>

                <div>
                    <label for="auto_split">[]を全角に自動置換（リンク化の回避）</label>
                    <input type="checkbox" id="replace_substitution" name="replace_substitution" {% if replace_substitution %}checked{% endif %}>
                </div>

                <div>
                    <label>句読点:</label>
                    <label>
                        <input type="radio" name="punctuation_type" value="vertical_type" {% if punctuation_type == 'vertical_type'%}checked{% endif %}>
                        「 、。」
                    </label>
                    <label>
                        <input type="radio" name="punctuation_type" value="comma_period" {% if punctuation_type == 'comma_period' %}checked{% endif %}>
                        「 ，．」
                    </label>
                </div>
                <!-- ↑↑最初隠したいコンテンツ ↑↑-->
            </details>

            <!-- submitボタン -->
            <div>
                <input type="submit" class="button btn btn-primary" value="翻訳">
            </div>
        </form>
    </div>

    <!--コンテンツ-->
    {% block content %}{% endblock%}
{% endblock%}
