{% extends "layout.html" %}
{% block content %}
<div class="container">
    <br>
    <h3>翻訳結果</h3>

    <!-- safeで文字列をHTMLとして反映 -->
    <textarea id="result" class="output">{{ result_text | safe }}</textarea>
    <button class="btn btn-success" id="copy_button" onclick="copyResultToClipBoard()">テキストをコピー</button>
    <script>
        function copyResultToClipBoard(){
            // クリップボードにコピー
            var result = document.getElementById('result')
            result.select();
            document.execCommand("copy");
            // ボタンを押した後，クラスを書き換えて，テキストを表示
            var button = document.getElementById('copy_button');
            button.setAttribute("class","btn btn-primary");
            var msg = document.createElement('p');
            msg.textContent = 'クリップボードにコピーしました';
            button.after(msg);
        }
    </script>

    <br>
    <br>
    <button class="btn btn-success" onclick=" window.open('https://scrapbox.io/','_blank')">Scrapbox を開く</button>
    <br>

</div>

{% endblock %}

